body{
    display: block;
    overflow-x:hidden;
    background-color: beige;
    text-align: center;
    font-family: monospace;
    border: 0.5em;
    border-style: outset;
    border-color: rgb(44, 18, 160);
}
h1{
    color:darkorchid
}
h1 span{
    color:palevioletred
}
.ug h1{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    text-align: left;
}

.PG h1{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    text-align: left;
}

.RG h1{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    text-align: left;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}
section h1{
    text-transform: uppercase;
    font-weight: 900;
    color: blueviolet;
    text-align: left;
    margin-bottom:20px;

}

section p{
    font-size: 16px;
    font-weight: 300;
}

#hero p{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornflowerblue;
}

#hero1 li{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornflowerblue;
}
body li{
    text-align: left;
    color: cornflowerblue;
}
 body a:hover{
     color: cornflowerblue;
     text-decoration: none;
     
 }